<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="com.avenqo.cucumber.example.appl">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
			<repository location="http://download.eclipse.org/technology/swtbot/releases/2.7.0"/>
			<unit id="org.eclipse.swtbot.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.7.0.201806111355"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.test.feature.group" version="3.7.400.v20180822-0818"/>
			<repository location="http://download.eclipse.org/eclipse/updates/4.9"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.rcp.sdk.id" version="4.9.0.I20180906-0745"/>
			<repository location="http://download.eclipse.org/releases/2018-09"/>
		</location>
		<location path="C:\projects\src.2018.4\cucumber-platform" type="Directory"/>
	</locations>
</target>